<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141167963802-c9o7vuv1rq5tnkp9kn84l8jv798rb9p2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141167963802-c9o7vuv1rq5tnkp9kn84l8jv798rb9p2</string>
	<key>API_KEY</key>
	<string>AIzaSyA0qdz6o87yFw50TqMEVQ4ARczqxEc_ReA</string>
	<key>GCM_SENDER_ID</key>
	<string>141167963802</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.agricapp</string>
	<key>PROJECT_ID</key>
	<string>agricadec</string>
	<key>STORAGE_BUCKET</key>
	<string>agricadec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141167963802:ios:c70c679be1bdb87392b923</string>
</dict>
</plist>